#title {
    color: bisque;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#description {
    color: blueviolet;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}